html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  background-color: #69b99d;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #f9f9f9;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.btn:hover {
  background-color: #767676;
}

.header {
  padding-top: 23px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e4e4e4;
  background-color: #f9f9f9;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  /* gap: 28px; */
}

/* .header-menu-item {
  margin-right: 28px;
}

.header-menu-item:last-child {
  margin-right: 0;
} */

.header-menu-item + .header-menu-item {
  margin-left: 28px;
}

.header-menu-link {
  font-size: 16px;
  color: #0f241d;
  text-decoration: none;
}

.header-menu-link--active {
  position: relative;
  font-weight: 700;
  color: #69b99d;
}

.header-menu-link--active::after {
  content: "";
  height: 2px;
  width: 50px;
  background-color: #69b99d;
  position: absolute;
  bottom: -30px;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.hero {
  padding-top: 125px;
  padding-bottom: 170px;
}

.hero-container {
  display: flex;
  gap: 30px;
}

.hero-left {
  width: 50%;
}

.hero-title {
  /* margin: 0 0 12px 0; */
  margin: 0;
  margin-bottom: 12px;
  padding-right: 166px;
  font-size: 36px;
  color: #0f241d;
  font-weight: 700;
}

.hero-desc {
  margin: 0 0 12px 0;
  padding-right: 190px;
  font-size: 18px;
  color: #767676;
}

.hero-right {
  position: relative;
  width: 50%;
  height: 375px;
}

.hero-right::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 20px;
  width: 100%;
  height: 100%;
  background-color: #ccf4e6;
  z-index: -1;
  border-radius: 4px;
}

.hero-img {
  width: 100%;
  height: 375px;
  object-fit: cover;
  border-radius: 4px;
}

.hello {
  margin: 0 auto;
  margin-bottom: 200px;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
}
