body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  padding-top: 23px;
  padding-bottom: 24px;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
