html {
  padding-top: 25px;
  background-image: url("../images/bg_page.png");
}

body {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  background-color: #e1edeb;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: "Kurale", serif;
  font-weight: normal;
  color: #6a94cc;
  margin: 0;
}

p {
  font-family: "Palatino Linotype", "Baskerville", serif;
  font-size: 1.25em;
  color: #616161;
  line-height: 150%;
  margin-top: 20px;
  margin-left: 60px;
}

h2 {
  color: #b1967c;
  font-family: "Kurale", serif;
  font-weight: normal;
  font-size: 2.2em;
  border-bottom: 2px white solid;
  background: url("../images/head-icon.png") no-repeat 10px 10px;
  padding: 0 0 2px 60px;
  margin: 0;
}

.intro {
  color: #666;
  font-family: "Kurale", serif;
  font-size: 1.1em;
  margin-left: 0;
  margin-bottom: 25px;
}
